<app-navbar *ngIf="getSessionInfos() == null"></app-navbar>
<app-navbar-connected *ngIf="getSessionInfos() != null"></app-navbar-connected>

<div class="container mx-auto px-4 pt-4 mb-5" align="center">
  <img src="../assets/boy.PNG" alt="" class="w-full sm:w-1/4">
<main class=" mx-auto max-w-7xl px-4 mt-0 sm:px-6  lg:px-8 ">
  
    <div class="text-center sm:text-center lg:text-center">
      
      <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-300 sm:text-5xl md:text-6xl">
        <span class="block xl:inline">Que Regarder Sur </span>
        <span class="block text-red-800 xl:inline">NETFLIX ?</span>
      </h1>
      
      <p class="text-center mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg w-full  md:mt-5 md:text-xl lg:mx-0">
          Un outil pour vous aider à choisir quoi regarder sur Netflix.</p>

          <p class="text-center italic mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg w-full  md:mt-5 md:text-xl lg:mx-0">
            Pour les spectateurs, par les spectateurs
            
          </p>
      <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-center">
        <div class="rounded-md shadow">
          <a routerLink="/top/movies/all" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-red-800 hover:bg-red-900 md:py-4 md:text-lg md:px-10"> Trouver les meilleurs films </a>
        </div>
        
      </div>
    </div>
  </main>



</div>