<app-navbar *ngIf="getSessionInfos() == null"></app-navbar>
<app-navbar-connected *ngIf="getSessionInfos() != null"></app-navbar-connected>
<div class="container mx-auto px-4 pt-16" *ngIf="getSessionInfos() != null">
    <h2 class="uppercase tracking-wider text-red-800 text-lg font-semibold"><nav class="flex" aria-label="Breadcrumb">
        <ol role="list" class="flex items-center space-x-4">
          <li>
            <div>
              <a href="#" class="text-gray-400 hover:text-gray-500">
                <!-- Heroicon name: solid/home -->
                <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                </svg>
                <span class="sr-only">Home</span>
              </a>
            </div>
          </li>
      
          <li>
            <div class="flex items-center">
              <!-- Heroicon name: solid/chevron-right -->
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
              <a href="#" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Films</a>
            </div>
          </li>
      
          <li>
            <div class="flex items-center">
              <!-- Heroicon name: solid/chevron-right -->
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
              <a href="#" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page">Films les mieux notés</a>
            </div>
          </li>
        </ol>
      </nav></h2>






      <!-- Movie list -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8" >
    <div class="mt-8" *ngFor="let movie of data[0]">
        <a routerLink="/movies/{{movie._id}}">
            <img src="{{ movie.avatar}}" class="rounded-lg hover:opacity-75 ">
        </a>
        <div class="mt-2">
            <span class="text-lg mt-2 font-bold dark:text-gray-400">{{ movie.title }}</span>
            <div class="flex items-center text-red-400">
              <span class="ml-1 text-yellow-600 dark:text-yellow-500 text-sm"><i class="fa-solid fa-star"></i> {{ movie.nbVotes }}</span>
                <span class="mx-2">|</span>
                <span>{{ movie.datedesortie }}</span>
            </div>
            <div class="text-gray-400 text-sm">
                {{ movie.genre }}
            </div>
        </div>
    </div>
    
</div>
</div>





<nav class="mt-5 bg-red-100 dark:bg-slate-600 px-4 py-3 flex items-center justify-between  sm:px-6" aria-label="Pagination">
  <div class="hidden sm:block">
    <p class="text-sm text-gray-700 dark:text-gray-300">
      Affichage de 
      <span class="font-medium dark:text-gray-300">{{ data[0].length }}</span>
      films sur un total de 
      <span class="font-medium dark:text-gray-300">{{ data[0].length }}</span>
      résultats
    </p>
  </div>
  <div class="flex-1 flex justify-between sm:justify-end">
    <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Précédent </a>
    <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Suivant </a>
  </div>
</nav>







<!-- If not logged in -->
<div class="grid place-items-center mt-20 dark:text-gray-400" *ngIf="getSessionInfos() == null">
  Vous devez être connecté pour voir ce contenu.
</div>

