<app-navbar *ngIf="getSessionInfos() == null"></app-navbar>
<app-navbar-connected *ngIf="getSessionInfos() != null"></app-navbar-connected>

<div class="w-full mt-20 flex items-center justify-center">
    <form class="w-full md:w-1/3 bg-red-100 dark:bg-slate-700 rounded-lg">
        <div class="flex font-bold justify-center mt-6">
            <img class="h-20 w-20"
                src="https://raw.githubusercontent.com/sefyudem/Responsive-Login-Form/master/img/avatar.svg">
        </div>
        <h2 class="text-3xl text-center text-gray-700 mb-4 dark:text-gray-400">Inscription</h2>
        <div class="px-12 pb-10">
            <div class="w-full mb-2">
               
                    <i class='ml-3 fill-current text-gray-400 text-xs z-10 fas fa-user'></i>
                    <input required minlength="4" type='text' placeholder="Nom d'utilisateur"
                        class="-mx-6 px-8  w-full border rounded px-3 py-2 text-gray-700 focus:outline-none" #username>
                
            </div>
            <div class="w-full mb-2">
                
                    <i class='ml-3 fill-current text-gray-400 text-xs z-10 fas fa-lock'></i>
                    <input type='password' placeholder="Mot de passe"
                        class="-mx-6 px-8 w-full border rounded px-3 py-2 text-gray-700 focus:outline-none" #password>
                
            </div>
            <a routerLink="/login" class="cursor-pointer text-xs text-gray-500 float-right mb-4">Tu as déja un compte ?</a>
            <button (click)="connect(username.value, password.value)" class="btn btn-" routerLink="/home" class="w-full py-2 rounded-full bg-green-600 text-gray-100  focus:outline-none">Inscription</button>
            <!--  <button type="submit"
                class="w-full py-2 rounded-full bg-green-600 text-gray-100  focus:outline-none">Connexion</button>-->
   </div> </form>
   
  
</div>