<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-red-800  dark:bg-slate-700">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
        <a class="text-xl font-bold font-mono leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" routerLink="/home">
          <i class="fa-duotone fa-popcorn fa-lg"></i> QRSN?
        </a>
        <button class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" onclick="toggleNavbar('example-collapse-navbar')">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <!--  

        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" routerLink="/posts">
            <span class="ml-2">Voir les posts</span>
          </a>
        </li>
        -->
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" routerLink="/top/movies/all">
            <span class="ml-2">Films</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" routerLink="/top/series/all">
            <span class="ml-2">Séries TV</span>
          </a>
        </li>
        
      </ul>
      <div class="lg:flex flex-grow items-end justify-end hidden" id="example-collapse-navbar">
        
        <div class="flex items-center justify-end"> <!-- droite -->
          <app-searchbar></app-searchbar>
        
        
        <a (click)="toggleDarkMode()" class="cursor-pointer px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" >
          <i (click)="clickEvent()"  
    [ngClass]="status ? 'fa-sun-bright' : 'fa-moon'"    class="fa-solid fa-2xl dark:text-yellow-500"></i>
        </a>
        <img *ngIf="data != undefined" src="{{ data[0].avatar}}" alt="" class="h-8 w-8 rounded-full cursor-pointer" routerLink="/profil/{{ getSessionInfos()}}">
        
        <a (click)="logout()"  class="cursor-pointer px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" routerLink="/home">
            <i class="fa-duotone fa-door-open fa-2xl"></i>
          </a>
      </div>
      </div>
    </div>
  </nav>



